{% extends "frame.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/codemirror.css') }}" />
<link rel="stylesheet" type="text/css" href="static/css/theme/{{theme}}.css" data-rel="theme" />
<link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<meta name="syntax-language" data="{{ mirrorlang.API }}" >
{% endblock %}

{% block header %}
<div class="left">
	<a href="/"><h1>Paste Directory</h1></a>
</div>
<div class="right">
	{% block header_right %}
	<label class="sel">
	<select id="expires" name="expires">
		<option value="0">Never</option>
		<option value="10">10 minutes</option>
		<option value="60">1 hour</option>
		<option value="1440">1 day</option>
		<option value="43200">1 month</option>
	</select>
	</label>
	<div class="onoffswitch">
		<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
		<label class="onoffswitch-label" for="myonoffswitch">
			<div class="onoffswitch-inner">
				<div class="onoffswitch-active">
					<div class="onoffswitch-switch">Light</div>
				</div>
				<div class="onoffswitch-inactive">
					<div class="onoffswitch-switch">Dark</div>
				</div>
			</div>
		</label>
	</div>
	<label class="sel">
	<select id="languages" name="languages">
	% for language in common_languages
		% if language.disabled 
			<option value="{{ language.API }}" disabled>{{ language.name }}</option> 
		% else
			% if language.API == mirrorlang.API
			<option value="{{ language.API }}" selected>{{ language.name }}</option>
			% else
			<option value="{{ language.API }}">{{ language.name }}</option>
			% endif 
		% endif
	% endfor 
	<option disabled>-------------------</option> 
	% for language in languages
		% if language.disabled
			<option value="{{ language.API }}" disabled>{{ language.name }}</option> 
		% else
			% if language.API == mirrorlang.API
			<option value="{{ language.API }}" selected>{{ language.name }}</option>
			% else
			<option value="{{ language.API }}">{{ language.name }}</option>
			% endif
		% endif
	% endfor
	</select>
	</label>
	<a id="nav-toggle" href="#"><span></span></a>
	<button class="large" id="submitButton">Submit</button>
	{% endblock %}
</div>
<div id="more">
	<h3>Options</h3>
	<input type="checkbox" name="self_destruct" id="self_destruct" />
	<label for="self_destruct">Delete 5 minutes after opening</label><br />
	<label for="encrypt">Encryption</label><br/>
	<input type="password" name="encrypt" id="encrypt" />
	<span class="warning">We can not recover your data if you lose your password.</span>
</div>
{% endblock %}

{% block scripts %}
% assets filters="jsmin", output="gen/cm.js", "js/codemirror.js", "js/matchbrackets.js", "js/active-line.js", "js/click-links.js", "js/LanguageEstimator.js"
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
% endassets
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" async="async"></script>
{% endblock %}
