{% extends "frame.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ static_url_for('css/theme/light.css') }}" data-rel="theme" />
<meta name="syntax-language" data="{{ mirrorlang.API }}" >
{% endblock %}


{% block scripts %}
{{ super() }}
% assets filters="jsmin", output="gen/cm.js", "js/codemirror.js", "js/matchbrackets.js", "js/active-line.js", "js/click-links.js", "js/LanguageEstimator.js"
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
% endassets
<script type="text/javascript" src="{{ static_url_for('js/script.js') }}" async="async"></script>
{% endblock %}
