<!DOCTYPE html>
<html>
    <head>
		{% block head %}
		<meta name=viewport content="width=device-width, initial-scale=1">
		% assets filters="cssmin", output="gen/style.css", "css/style.css", "css/codemirror.css", "css/googlefonts-inconsolata.css", "css/googlefonts-roboto.css"
		<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
		% endassets
		{% endblock %}
	</head>
	<body class="{{theme}}">
		<div id="container">
			<header>
				{% block header %}
				{% endblock %}
			</header>
			<main>
				{% block content %}
				{% endblock %}
			</main>
			<footer>
				
			</footer>
		</div>
		{% block scripts %}
		{% endblock %}
	</body>
</html>