{% extends "base.html" %}

{% block head %}
	<title>Paste Directory: {{ post.id }}</title>
	{{ super() }}
{% endblock %}

{% block header_right %}
<form action="http://{{ request.environ['SERVER_NAME'] }}{{request.path}}/raw">
    <input type="submit" value="View raw">
</form>

{{ super() }}
{% endblock %}
 
{% block content %}
% if post.self_destruct and post.author != requestaddress 
<div class="notice">This paste has been set to be deleted 5 minutes after it is opened. </div>
% endif
<textarea id="loadview">{{ post.data }}</textarea>
{% endblock %}