{% extends "base.html" %}

{% block head %}
	<title>Paste Directory: {{ post.id }}</title>
	{{ super() }}
{% endblock %}

{% block header_right %}
<a id="rawButton" href="https://{{ request.environ['SERVER_NAME'] }}{{request.path}}/raw">
   <button>{{ _('View raw') }}</button>
</a>

{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}
% if post.self_destruct and post.author != requestaddress
<div class="notice">{{ _('This paste has been configured to be automatically destroyed 5 minutes after it has been opened..') }}</div>
% endif
<textarea id="loadview">{{ post.data }}</textarea>
{% endblock %}
