<!DOCTYPE html>
<html>
    <head>
		<title>This page is encrypted</title>
		<link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700italic,700' rel='stylesheet' type='text/css'>
		<style type="text/css" media="screen">
			body {
				background: #efefef;
				font-family: 'Merriweather', serif;
				font-weight: 100;
				width: 85%;
				font-size: 90%;
				padding: 5% 0;
				margin-left: auto;
				margin-right: auto;
				max-width: 900px;
				color: #464646;
			}
			
			h1 {
				font-size: 250%;
				font-weight: 400;
				margin: 0;
			}
			h2 {
				font-size: 150%;
				font-weight: 300;
				margin-top: 30px;
				margin-bottom: 5px;
			}
			h3 {
				color: #5f5f5f;
				font-size: 110%;
				font-weight: 700;
				margin-top: 30px;
				margin-bottom: 5px;
			}
			p,ol {
				margin-top: 0;
				margin-bottom: 20px;
			}
			.small {
				font-size: 90%;
				margin-bottom: 20px;
			}
		</style>
	</head>
	<body>
		<main>
			<article>
				<h1>Terms and Conditions</h1>
				<div class="small" itemscope itemtype="http://schema.org/Organization">
  					<span itemprop="name">Paste Directory</span>
  					<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      					<span itemprop="streetAddress">Møllendalsveien 52B H0714</span>
      					<span itemprop="postalCode">5009</span>
      					<span itemprop="addressLocality">Bergen, Norway</span>
  					</div>
					<span itemprop="email">alex@delexious.com</span>
				</div>
				<p>By using our service you are agreeing to the terms and conditions below, please read them carefully. These terms are produced to establish a set of guidelines and to protect our service and your privacy from abuse.</p>
				<h2>Copyright</h2>
				<p>The Software is owned by Delexious Software and is protected by copyright laws and by international treaty provisions. You should therefore treat the Software like any other copyrighted material (such as for example, books or musical recordings). Among other things, copyright laws prohibit You from making derivative works of the Software. You may, however, make copies of the Software solely for Your individual and personal use on multiple computers, provided that You include all copyright and proprietary rights notices on any copies. </p>
				<h2>Other Restrictions</h2>
				<ol type="a">
					<li>You may not modify, reverse-engineer, decompile, or disassemble the Software for any purpose whatsoever.</li>
					<li>You may not claim that the Software is yours, and you may not use the name Paste Directory (or variations thereof)  to endorse or promote products derived from the Software without prior written permission.</li>
					<li>You may not use this software to store illegal information such as illegally procured documents, passwords, payment information, or other. </li>
				</ol>
			
				<h2>Privacy</h2>
				<p>Among the types of Personal Data that this Application collects, by itself or through third parties, there are: Email, First Name, Cookie and Usage Data.</p>
				<p>
					Other Personal Data collected may be described in other sections of this privacy policy or by dedicated explanation text contextually with the Data collection.<br/>
					The Personal Data may be freely provided by the User, or collected automatically when using this Application.<br />
					Any use of Cookies - or of other tracking tools - by this Application or by the owners of third party services used by this Application, unless stated otherwise, serves to identify Users and remember their preferences, for the sole purpose of providing the service required by the User. <br/>
					Failure to provide certain Personal Data may make it impossible for this Application to provide its services.
				</p>
				<p>The User assumes responsibility for the Personal Data of third parties published or shared through this Application and declares to have the right to communicate or broadcast them, thus relieving the Data Controller of all responsibility.</p>
				<h3>Methods of processing</h3>
				<p>
					Paste Directory processes the Data of Users in a proper manner and shall take appropriate security measures to prevent unauthorized access, disclosure, modification or unauthorized destruction of the Data.<br/>
					The Data processing is carried out using computers and/or IT enabled tools, following organizational procedures and modes strictly related to the purposes indicated. In addition to Paste Directory, in some cases, the Data may be accessible to certain types of persons in charge, involved with the operation of the site (administration, legal, system administration) or external parties (such as third party technical service providers, mail carriers, hosting providers, IT companies, communications agencies) appointed, if necessary, as Data Processors by the Owner. The updated list of these parties may be requested from Paste Directory at any time.
				</p>
				<h3>Usage</h3>
				<p>The Data is kept for the time necessary to provide the service requested by the User, or stated by the purposes outlined in this document, and the User can always request that Paste Directory suspend or remove the data.</p>
				<p>The Data concerning the User is collected to allow the Application to provide its services, as well as for contacting the user if necessary and providing statistics and analysis.</p>
				<p>The Personal Data used for each purpose is outlined in the specific sections of this document.</p>
				<h3>Legal Action</h3>
				<p>
					The User's Personal Data may be used for legal purposes by the Data Controller, in Court or in the stages leading to possible legal action arising from improper use of this Application or the related services.<br />
					The User is aware of the fact that Paste Directory may be required to reveal personal data upon request of public authorities.
				</p>
				<h3>Additional information about User's Personal Data</h3>
				<p>In addition to the information contained in this privacy policy, this Application may provide the User with additional and contextual information concerning particular services or the collection and processing of Personal Data upon request.</p>
				<h3>System Logs and Maintenance</h3>
				<p>For operation and maintenance purposes, this Application and any third party services may collect files that record interaction with this Application (System Logs) or use for this purpose other Personal Data (such as IP Address).</p>
				<h3>Information not contained in this policy</h3>
				<p>More details concerning the collection or processing of Personal Data may be requested from Paste Directory at any time. Please see the contact information at the beginning of this document.</p>
				<h3>The rights of Users</h3>
				<p>Users have the right, at any time, to know whether their Personal Data has been stored and can consult Paste Directory to learn about their contents and origin, to verify their accuracy or to ask for them to be supplemented, cancelled, updated or corrected, or for their transformation into anonymous format or to block any data held in violation of the law, as well as to oppose their treatment for any and all legitimate reasons. Requests should be sent to Paste Directory at the contact information set out above.</p>
				<h3>This Application supports “Do Not Track” requests.</h3>
				<p>This application adheres to requests by the user to avoid using web technologies to store or use personal or identifiable data and/or information. The application may however employ third party services which does not. To determine whether any of the third party services it uses honor the “Do Not Track” requests, please read their privacy policies.</p>
				<h3>Changes to this privacy policy</h3>
				<p>Paste Directory reserves the right to make changes to this privacy policy at any time by giving notice to its Users on this page. It is strongly recommended to check this page often, referring to the date of the last modification listed at the bottom. If a User objects to any of the changes to the Policy, the User must cease using this Application and can request that the Paste Directory erase the Personal Data. Unless stated otherwise, the then-current privacy policy applies to all Personal Data Paste Directory has about Users.</p>
			
				<h2>Warranty and limitation of liability</h2>
				<p>In no event shall Paste Directory or anyone else involved in the creation, production, marketing, distribution or delivery of the service, be liable for any damages whatsoever; including, without limitation, damages for loss of data, service interruption, loss of information, or for other monetary loss, arising out of the use of the service  or the inability to use the service, even if you have been notified of the possibility of such damages.</p>
				<p>In no event shall Paste Directory be liable for any special, indirect, or consequential damages, or for any damages whatsoever, whether in a  contract action, negligence, or other tort action, or other claim, or action, arising out of, or in connection with, the use or performance of the service and other information provided to you by us, or in the provision of, or failure to provide, such information.</p>
				<p>Some states in the United States and some countries prohibit the limitation of liability, therefore the use of this software or service in these areas is restricted and we take no legal responsibility nor condone your actions if you choose to disregard this warning.</p>
				
				<h2>Termination</h2>
				<p>You may terminate this Agreement at any time. Paste Directory may immediately terminate this License Agreement if You breach any representation, warranty, agreement or obligation contained or referred to in this License Agreement. Upon termination, You must dispose of the Software and all copies or versions of the Software by destroying the Software.</p>
			</article>
		</main>
	</body>
</html>